<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52552315262-u75to450ve8ke4d3vj6mpuem928mtq59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52552315262-u75to450ve8ke4d3vj6mpuem928mtq59</string>
	<key>API_KEY</key>
	<string>AIzaSyCBIv_c8Q9akHQdBgl6Hhd3G-Jyi0QzFu8</string>
	<key>GCM_SENDER_ID</key>
	<string>52552315262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.satis.flutterfirebasetest</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-test-fd894</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-test-fd894.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52552315262:ios:abb6576ec43b43147b432f</string>
</dict>
</plist>